body {
  background: #facade;
}
.agent-debug-box table {
  background: white;
  border-collapse: collapse;
  margin: 1em;
}

.agent-debug-box td,
.agent-debug-box th {
    padding: .1em .3em;
    border:1px solid black;

}