body {
  background: black;
  font-family: monospace;
  font-size: 10pt;
  padding-bottom:20px;

}


table{
    border-collapse: collapse;

}

th{

}

.debug-box.closed>table tbody{
  display: none;
}

.debug-box>table>thead{
  text-align:left;
  background:#eee;
  color:#333;
  cursor:pointer;
}
.debug-box>table thead:hover {
  background: white;
}

.debug-box>table {
  background: white;
  margin: 1em;
  min-width:600px
}

.debug-box>table>tbody>tr>th{
  width:120px;
    background:#eee;
  color:#333;

}

.debug-box>table>tbody>tr>td,
.debug-box>table>tbody>tr>th,
.debug-box>table>thead>tr>th{
    padding: 5px;
    border:1px solid black;

}

#dancer {
  display: none;
  position: fixed;
  bottom: 10px;
  right:10px;
}


.debug-sequence {
  display: flex;
  border:1px solid black;
}

.debug-sequence .step{
  text-align: center;
  flex: 1 1 0px;
  height:1.2em;
}
.debug-sequence .step.current{
  background: yellow;
}
.debug-sequence .step.empty{
  background: gray;
}
.debug-sequence .step.current.empty{
  background: gold;
}

.debug-sequence .step:not(:last-child){
  border-right:1px solid black;
}

.debug-multi-lines {
  width:30em;
  margin:0;
}

.debug-multi-lines th {
  width:2em;
}

#buttons {
  background: #25272f;
  border-top:3px solid black;
  width:100%;
  position: fixed;
  bottom: -120px;
  left:0;
  padding: 1em;
  display: flex;

}

#buttons:hover {
  bottom:0;
}


#buttons button {
  background: transparent;
  border: none;
}

#buttons button:hover{
  cursor: pointer;
  filter: brightness(1.5);
}

#buttons button:active{
  filter: brightness(2);
}

#stage {
margin: auto;
  position: relative;
  width:1280px;
  height: 960px;
  background: url('sprites/stage.png');
}

#stage #anims {
  position: absolute;
  top:220px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}